
.leaflet-popup-content {
  max-height: 560px;
  overflow-y: auto;
}



#header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  #map {
    height: 700px;
    width: 87%; 
    margin: 0 auto; 
    margin-bottom: 50px;
    border-radius: 10px; 
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 0;
  }
  .reset-map {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 1000;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 80px;

  }
  nav img {
    height: 60px;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    padding: 80px;
  }
  nav li {
    margin: 0 10px;
  }
  nav a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
  }
  nav ul li a img {
    width: 26px;
    height: 26px;
  }

  .heading {
    font-size: 40px;
  }


  h3 {
    font-size: 16px;
  }


  .synp {
    max-width: 800px;
    font-size: 19px;
    line-height: 1.7;
    margin: 0 auto;
  }
  
  .support-btn {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .support-btn:hover {
    background-color: #333;
  }

  .explore-btn {
    background-color: rgb(38, 136, 241);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .explore-btn:hover {
    background-color: rgb(24, 87, 154);
  }

  .leaflet-popup-content {
    width: 5000px;
  }

  #leopard {
    width: 100%;
    height: auto;
  }
  #mayna {
    width: 100%;
    height: auto;
  }
  #gorilla {
    width: 100%;
    height: auto;
  }

  #hellbender {
    width: 100%;
    height: auto;
  }

  #orangutan {
    width: 100%;
    height: auto;
  }

  #ass {
    width: 100%;
    height: auto;
  }

  #lemur {
    width: 100%;
    height: auto;
  }

  #camel {
    width: 100%;
    height: auto;
  }

  #addax {
    width: 100%;
    height: auto;
  }
  
  #iguana {
    width: 100%;
    height: auto;
  }


  #alligator {
    width: 100%;
    height: auto;
  }
  .popup-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .popup-section {
    flex-basis: 30%;
  }
  .popup-body div {
    display: block;
  }
    
